body {
    /* padding:5%; */
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    max-width: 600pxx;
    margin: 0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111,0.2) 0px 7px 29px 0px;
}

.form-group{
    margin-bottom: 30px;
}